* {
  margin: 0;
  padding: 0;
}

nav{
  background-color: #B9C186;
  height: 15dvh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5dvw;
}

.headerlogo{
  background-color: #412F26;
  width: 5dvw;
  height: 10dvh;
  font-size: larger;
}

.menu{
  display: flex;
  width: 35dvw;
  justify-content: space-between;
}

.NavLink{
  color: #412F26;
  text-decoration: none;
  font-size: larger;
}

.NavLink:hover{
  text-decoration: underline;
}

.allcards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 80%;
  gap: 50px;

  margin: auto;
}

.card {
  background-color: #B9C186;
  color: #412F26;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  padding: 10px;
  border-radius: 25px;
}

.card img {
  border-radius: 25px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;


  background-color: rgb(147, 147, 229);

}