.allcards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 80%;

  margin: auto;
}

.card {
  background-color: #B9C186;
  color: #412F26;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  max-width: 250px;
  padding: 10px;
  border-radius: 25px;
}

.card img {
  max-width: 95%;
  border-radius: 25px;
}
