* {
  margin: 0;
  padding: 0;
}


/***** CENTER TEKST ****/
.centerTekst {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  height: 300px;
  margin: auto;

  background-color: #6A6F4C;
}

.centerTekst h1, p {
  padding-bottom: 2%;
  text-align: center;
  width: 60%;
}




/****** NAVBAR *******/

nav{
  background-color: #B9C186;
  height: 15dvh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5dvw;
}

.headerlogo{
  background-color: #412F26;
  width: 5dvw;
  height: 10dvh;
  font-size: larger;
}

.menu{
  display: flex;
  width: 35dvw;
  justify-content: space-between;
}

.NavLink{
  color: #412F26;
  text-decoration: none;
  font-size: larger;
}

.NavLink:hover{
  text-decoration: underline;
}

      /*-----------Styles til Folders------ */
.baacolum{
  background-color: #B9C186;
  display: flex;
  flex-direction: column;
}

.twocolums{
  display: flex;
}

.onefolder{
  display: flex;
  flex-direction: column;
  padding: 5dvh 10dvw 2dvh 10dvw;
  cursor: pointer;
}

.folderheadline{
  display: flex;
  justify-content: space-between;
}

.folderarrow{
  height: 5dvh;
  transition: transform 0.5s ease-in;
}

.foldercontent{
  max-height: 7dvh; /*content showing når folder lukket*/
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.foldercontent p{
  padding-top: 2dvh;
}

.folders.active .foldercontent{
  max-width: 350px;
}

.folders.active .folderarrow{
  transform: rotate(180deg);
}


/******** CARDS CSS *****/

.allcards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 80%;
  gap: 50px;

  margin: auto;
}

.card {
  width: 30%;

  background-color: #B9C186;
  color: #412F26;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  
  padding: 10px;
  border-radius: 25px;
}

.card p, h5 {
  padding: 10px 0;
}

.card img {
  border-radius: 25px;
}

/****** FOOTER CSS *****/

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #6A6F4C;
  color: #CBB89D;
  padding: 10px 0;
  margin-top: 30px;
}


.somelinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}


/***** KNAPPER ***/

.leasbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  width: 10%;
  padding: 5px 0;
  border-radius: 25px;
  background-color: #CBB89D;
  
}

.leasbtn a {
  text-decoration: none;
  color: #412F26;
  font-weight: bold;
}

.Bookbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  width: 10%;
  padding: 5px 0;
  border-radius: 25px;
  background-color: #CBB89D;
  
}

.Bookbtn a {
  text-decoration: none;
  color: #412F26;
  font-weight: bold;
}